  /* skeleton 1 */
/* .skeleton{
  height: 75px;
  width: 75px;
  background: #d9d9d9; 
  position:relative;
  overflow: hidden;
}   

.skeleton::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #d9d9d9 0%, rgba(0,0,0,0.07) 20%, #d9d9d9 40%, #d9d9d9 100%);
  background-repeat: no-repeat;
  background-size: 450px 400px;
  animation: shimmer 1s linear infinite;
}
 .skeleton::before{
  background-size: 650px 600px;
} 
@keyframes shimmer {
  0%{
    background-position: -450px 0;
  }
  100%{
    background-position: 450px 0;
  }
} */



//loading animation

.square-wrap { 
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0 auto */
}
.square {
  position: absolute;
  background-color: black;
  width: 3px;
  height: 62px;
  margin: 0 -10%;
  animation: sliding 3s ease infinite;
}

.square:nth-child(1n) {
  animation-delay: 0.3s;
}
.square:nth-child(2n) {
  animation-delay: 1s;
}
.square:nth-child(3n) {
  animation-delay: 0.7s;
}
.square:nth-child(5n) {
  animation-delay: 1.3s;
}
.square:nth-child(7n) {
  animation-delay: 1.5s;
}
.square:nth-child(11n) {
  animation-delay: 1.7s;
}
.square:nth-child(13n) {
  animation-delay: 2s;
}
.square:nth-child(17n) {
  animation-delay: 2.3s;
}
.square:nth-child(19n) {
  animation-delay: 2.5s;
}
.square:nth-child(23n) {
  animation-delay: 2.7s;
}
.square:nth-child(29n) {
  animation-delay: 3s;
}

@keyframes sliding {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(225px, 0);
  }
}